<h1><%= @blogger.name %></h1>
<p><%= @blogger.total_likes %></p>

<% top = @blogger.posts.max_by{|post| post.likes} %>

<% if top %>

   <h3>Featured post (with <%=top.likes%> likes):</h3>

   <%= link_to top.title, post_path(top)%>


<% end %>

<%= @blogger.bio %>