<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<%=form_for @post do |f|%>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :content %>
    <%= f.text_field :content %>
    <%= f.collection_select(:blogger_id, Blogger.all, :id, :name, prompt: "Select Blogger") %>
    <%= f.collection_select(:destination_id, Destination.all, :id, :name, prompt: "Select Destination") %>
    <%= f.submit "submit" %>
<%end%>
