<h1><%= @destination.name%></h1>
<p>Average Age: <%= @destination.average_age %></p>
<p><%= link_to "Featured Post", post_path(@destination.featured_post) %></p>
    <% @posts.each do |post| %>
        <li> <h2><%= post.title %> </h2>
             <%= post.content %>
             <%= post.likes %>
    <% end %>
        </li>


